.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
}

.header > .exportButton {
    
    width: 100px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #262842;
    border-radius: 10px;
}

.title {
    font-weight: 400;
    font-size: 24px;
    color: #262842;
}